*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.preload{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #77b3d4;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: opacity 0.5s ease;
}
.preload{
    opacity: 0;
    pointer-events: none;
}
.cc{
    font-family:   serif;
    font-size: 200px;
    background: transparent;
    color: red;
    animation: cc 0.5s ease infinite;
}
.preload h3{
    position: relative;
    font-size: 100px;
    top:-23.5% ;
    left: 1%;
}
.preload h6{
    position: relative;
    font-size: 40px;
    top: -17%;
}

@keyframes cc{
    from{
transform: rotate(0);
    }
    to{
 transform: rotate(360deg);
    }
}